.price__wrapper {
  .container();
  padding: 80px 17px 49px 17px;;
}

.price {
  background: #121212 url("../img/footer-bg-mobile.png") 50% 0% no-repeat;
  color: #fff;
}
.price__info {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 28px;
  span {
    color: #50b1c3;
  }
  span:first-child {
    font-weight: 700;
    text-transform: uppercase;
  }
  &:last-of-type {
    margin-bottom: 190px;
  }
}

.price__heading::before {
  display: none;
}
.price__heading {
  color: #fff;
  line-height: 45px;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 23px;
}
.price__heading span{
  color: #50b1c3;
}
@media @desktop-widths {
  .price__wrapper {
    padding-top: 182px;
    margin-top: -86px;
    display: flex;
    //background-color: #121212;
    background-image: none;
    background: url("../img/footer-bg.png") 50% 0% no-repeat;
    width: 100%;
    //max-width: 1285px;
    margin-top: -86px;
    padding-left: 19%;
    padding-right: 20%

  }
  .price {

    background-color: #0e0e0f;

    background-image: none;
    background-color: none;
    background-size: auto;
    padding-top: 1px;
    .subscribe-form__input-wrapper:nth-of-type(2)::before, .subscribe-form__input-wrapper:nth-of-type(3)::before {
    top: 16px;
    }

  }
  .price__text-wrapper {
    width: 314px;
    margin-right: 16%;
  }
  .price__heading {
    margin-bottom: 70px;
  }
  .price__info:last-of-type {
    margin-bottom: 0px;
  }
  .price__info {
    text-align: left;
    margin-bottom: 69px;
  }
}
