.protection {
  background:#0d0b15 url(../img/protection-bg-big.jpg) 50% 0% no-repeat;
  background-size: auto 450px;
  color: #fff;
}


.protection .icon-lines {
  fill: #620c08;

}
.protection__wrapper {
  .container();
  padding: 34px 0px 1px 0px;;
}
.protection__wrapper p {
  line-height: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 62px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background: #990000;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
  }
}
.protection__heading {
  color: #fff;
  margin-bottom: 179px;
  text-align: center;
  line-height: 47px;
  margin-top: 0px;
  span {
    display: block;
  }
}
.protection__heading .heading_decoration::after {
  content: "03";
  left: 80px;
}
.protection__heading .heading_decoration::before {
  left: 101px;
}
@media @desktop-widths {
  .protection__heading {
    margin-bottom: 346px;
  }
  .protection__heading .heading_decoration::after {
    content: "03";
    left: -23px;
  }
  .protection__heading .heading_decoration::before {
    left: 0px;
  }
  .protection__heading span {
    display: inline;
  }
  .protection__wrapper {
    padding-top: 95px
  }
  .protection {
    //background-image: url(../img/protection-bg-big.jpg);
    background-size: auto;
    min-height: 750px;
    margin-bottom: 97px;

    p {
      width: 404px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
